@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0);
	}

	10% {
		transform: translate3d(-1rem, -4rem, 0);
	}

	20% {
		transform: translate3d(-8rem, 2rem, 0);
	}

	30% {
		transform: translate3d(9rem, -9rem, 0);
	}

	40% {
		transform: translate3d(-2rem, 7rem, 0);
	}

	50% {
		transform: translate3d(-9rem, -4rem, 0);
	}

	60% {
		transform: translate3d(2rem, 6rem, 0);
	}

	70% {
		transform: translate3d(7rem, -8rem, 0);
	}

	80% {
		transform: translate3d(-9rem, 1rem, 0);
	}

	90% {
		transform: translate3d(6rem, -5rem, 0);
	}

	to {
		transform: translate3d(-7rem, 0, 0);
	}
}
$ease_out: cubic-bezier(0.165, 0.84, 0.44, 1);

@mixin transition() {
	transition: 700ms $ease_out;

	&:hover {
		transition: 400ms $ease_out;
	}
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	scroll-behavior: smooth;
	overscroll-behavior: none;
	overflow-x: hidden;
	background-color: #edeae4;
	display: flex;
	justify-content: flex-end;
	// pointer-events: none;
}
body:after {
	top: -200px;
	bottom: -200px;
	right: -200px;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: -1;
	content: '';
	position: fixed;
	pointer-events: none;
	background-position: 100%;
	background-image: url("images/noise.png");
	pointer-events: none;
	animation: noise 1s steps(2) infinite;
}

#scroll-container {
	position: absolute;
	overflow: hidden;
	width: 100%;
}
#viewport {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.display {
	display: flex;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	padding: 0 120px;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 120px;
	border-bottom: 2px solid #28282a;
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 22px;
	align-items: center;
}
.title {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	.title--text__solid {
		h1 {
			font-family: acumin-pro-wide, sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: calc(1em + 8vw);
			line-height: calc(0.8em + 0.1vw);
		}
	}
}
.gallery{
    display: grid;
    gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	margin-bottom: 60px;
    .work{
        display: flex;
        flex-direction: column;
        .work--title{
            font-family: acumin-pro-wide, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 30px;
        }
        .work--itself{
            img{
                width: 100%;
            }
        }
        .work--description{
            display: flex;
            justify-content: space-between;
            .bold{
                font-family: acumin-pro-wide, sans-serif;
                font-weight: 700;
                font-style: normal;
            }
            .normal{
                font-family: acumin-pro-wide, sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }
    }

}
.footer {
	background-color: #28282a;
	color: white;
}
.footer--content {
	margin: 0 auto;
	max-width: 1920px;
	padding: 90px 120px 0 120px;
}
.footer--text {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: flex-end;
	.footer--text__solid {
		h1 {
			font-family: acumin-pro-wide, sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: calc(2em + 4vw);
			line-height: calc(0.8em + 1vw);
			text-align: right;
		}
		.underline-btn {
			display: inline-block;
			padding-bottom: 1em;
			border-radius: 0;
			color: white;
			text-decoration: none;
			position: relative;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 8px;
				width: 0;
			}
			&:before {
				transition: width 0s ease, background .4s ease;
				left: 0;
				right: 0;
				bottom: 6px;
			}
			&:after {
				right: 0;
				bottom: 6px;
				background: white;
				transition: width .4s ease;
			}

			&:hover {
				&:before {
					width: 100%;
					background: white;
					transition: width .4s ease;
				}
				&:after {
					width: 100%;
					background: 0 0;
					transition: all 0s ease;
				}
			}
		}
	}
	.footer--text__stroke {
		h1 {
			-webkit-font-smoothing: antialiased;
			-webkit-text-fill-color: rgba(255, 255, 255, 0);
			-webkit-text-stroke-color: #ffffff;
			-webkit-text-stroke-width: 2px;
			font-family: acumin-pro-wide, sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: calc(2em + 4vw);
			line-height: calc(0.8em + 1.5vw);
			text-align: right;
		}
	}
	.footer--text__stroke:nth-child(2) {
		margin-bottom: 10px;
	}
}

.footer--bottom {
	display: flex;
	justify-content: space-between;
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	padding: 40px 0;
	a {
		text-decoration: none;
		color: white;
	}
}

@media (max-width: 1800px) {
	.display {
		padding: 0 60px;
	}
}

@media (max-width: 1680px) {
	.footer--content {
		padding: 90px 60px 0 60px;
	}
}

@media (max-width: 1200px) {
	.title {
		margin-bottom: 60px;
	}
	.footer--content {
		padding: 60px 60px 0 60px;
	}
	.br--none {
		display: none;
	}
}
@media (max-width: 1000px) {
	.title {
		.title--text__stroke {
			h1 {
				-webkit-text-stroke-width: 1px;
			}
		}
	}
}

@media (max-width: 800px) {
	.header {
		height: 80px;
		font-size: 16px;
	}
	.display {
		padding: 0 30px;
	}
	.footer--content {
		padding: 30px 30px 0 30px;
	}
	.title {
		margin-bottom: 40px;
		.title--text__stroke {
			-webkit-text-stroke-width: 1px;
		}
		}
	.footer--text {
		.footer--text__solid {
			h1 {
				font-size: calc(1.5em + 4vw);
				line-height: calc(0.8em + 1vw);
			}
		}
		.footer--text__stroke {
			h1 {
				font-size: calc(1.5em + 4vw);
				line-height: calc(0.8em + 1vw);
				-webkit-text-stroke-width: 1px;
			}
		}
	}
}

@media (max-width: 590px) {
	.header {
		font-size: 14px;
	}
	.header--name {
		padding-right: 20px;
	}
	.footer--text {
		.footer--text__solid {
			h1 {
				line-height: calc(1em + 1vw);
			}
		}
		.footer--text__stroke {
			h1 {
				line-height: calc(1em + 1vw);
			}
		}
	}
	.footer--bottom {
		font-size: 14px;
		padding: 20px 0;
	}
}

@media (max-width: 400px) {
	.header--email {
		display: none;
	}
	.display {
		padding: 0 15px;
	}
}

@media (max-width: 340px) {
	.header--email {
		display: none;
	}
	.display {
		padding: 0 15px;
	}
}
